openapi: 3.0.0
info:
  title: Construction Image Upload API
  version: 1.0.0
  description: API for uploading and managing images related to construction builds

servers:
  - url: https://api.norasil.pt

tags:
  - name: Build Images
    description: Endpoints related to images of construction builds
  - name: General Images
    description: Endpoints related to general images

paths:
  /images/builds/upload:
    post:
      tags:
        - Build Images
      summary: Upload an image related to a construction build
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                build_id:
                  type: string
                  description: Optional ID of the construction build
                image:
                  type: string
                  format: binary
                  description: Image file to upload
      responses:
        '200':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Image uploaded successfully
                  image:
                    type: object
                    properties:
                      key:
                        type: string
                        example: 1
                      url:
                        type: string
                        example: uploads/1633024800000-image.jpg
                      buildId:
                        type: string
                        example: build123
        '400':
          description: Bad request

  /images/upload:
    post:
      tags:
        - General Images
      summary: Upload a general image
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file to upload
      responses:
        '200':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Image uploaded successfully
                  image:
                    type: object
                    properties:
                      key:
                        type: string
                        example: 1
                      url:
                        type: string
                        example: uploads/1633024800000-image.jpg
        '400':
          description: Bad request

  /images/builds/{id}:
    get:
      tags:
        - Build Images
      summary: Fetch all images from a build
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the construction build
      responses:
        '200':
          description: List of images
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      example: 1
                    url:
                      type: string
                      example: uploads/1633024800000-image.jpg
                    buildId:
                      type: string
                      example: build123
        '404':
          description: Build not found

    delete:
      tags:
        - Build Images
      summary: Delete all images of a build
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the construction build
      responses:
        '200':
          description: All images of the build deleted successfully
        '404':
          description: Build not found

  /images/{key}:
    get:
      tags:
        - General Images
      summary: Fetch an image by key
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
          description: Key of the image
      responses:
        '200':
          description: Image file
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    example: 1
                  url:
                    type: string
                    example: uploads/1633024800000-image.jpg
                  buildId:
                    type: string
                    example: build123
        '404':
          description: Image not found

    delete:
      tags:
        - General Images
      summary: Delete an image by key
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
          description: Key of the image
      responses:
        '200':
          description: Image deleted successfully
        '404':
          description: Image not found